*{
    box-sizing: border-box;
}

/* top navigation bar(header)*/

nav{
    background-color: #ffc0cb;
    height: auto;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 150px;
}
.navbar-fixed-top {
      
    border-radius: 30px;
    
}

nav .navbar-left h5{
        color:  #8f00b3;
    font-size: 18px;
    font-weight: bold;
}
nav .navbar-left p{
    font-size: 15px;
    color:  #8f00b3;
}
nav .navbar-left p i{
    color: #8f00b3;
}

nav ul li a{
    color: #8f00b3;
    font-size: 17px;
}
nav ul li a:hover{
    color: #ff002b;
   
    
}
.dropdown-menu > li > a{
    color: #8f00b3;
}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent;
}
 
.nav .dropdown li a:hover {
    color: #ff002b;
    
}
.nav .dropdown a:focus,  .nav .dropdown a:hover{
      background-color: transparent;
    
}
nav span{
        color: #8f00b3;
       }
 nav form{
    display: none;
}


/* For Mobile View*/
@media only screen and (max-width: 768px) {
    nav{
         background-color: 	#ffc0cb;
        
    }
 
    nav form{
        display: block;
        width: 100%;
    }
    
    nav .navbar-header span{
   
         background-color: black;
   }
    nav hr{
        display: none;
    }

}

nav{
    margin: 0;
    padding: 0;
}



/* Footer */

.footer{
    background-color: #ffc0cb;
    height: auto;
}

.footer h3{
    color: #8f00b3;
    font-weight: bold;
    padding-left: 20px;
}

/* Follow us*/

.footer #follow_us h3{
   text-align: center;
}
.footer_one .row ul{
    
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden;
              text-align: center;

}
   
.footer_one .row li{
    
    margin: 6px;
    margin-left: 20px;
    
}

.footer_one .row li a{
    display: block;
  color: #595959;
  text-align: center;
  padding: 14px 12px;
  text-decoration: none;
    font-size: 19px;
}



/* Info*/

.footer #info{
   text-align: center;
}
.footer_one #info a{
    color: #595959;
    text-align: center;
    
}
.footer #info h3{
    margin-left: -23px;
}

/* About*/
.footer #about{
   text-align: center;
}
.footer_one #about a{
    color: #595959;
    text-align: center;
    
}
.footer #about h3{
    margin-left: -23px;
}
/* contact*/
.footer #contact{
   text-align: center;
}
.footer_one #contact p{
    color: #595959;
    text-align: center;
    
}
.footer #contact h3{
    margin-left: -23px;
}
.footer #contact  address{
    color: black;
}

/* Footer two*/
.footer_two{
    background-color: #ff99aa;
   
    padding: 15px 0;
    
}
.footer_two p{
    text-align: center;
    color: #8f00b3;
    font-size: 16px;
}